<section id="who-we-are" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="main-title"><%= t :our_services %></h3>

            <h4 class="sub-title"><%= t :service_subtitle %></h4>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>    
      <!-- //.row -->

      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow not-right-column text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-pencil-square"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour"><%= t :build_a %></p>
              <h4>
                <%= t :page %>
              </h4>

              <p>
                <%= t :page_intro %>
              </p>
            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow not-right-column text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-laptop"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour"><%= t :build_a %></p>
              <h4>
                <%= t :website %>
              </h4>

              <p>
                <%= t :website_intro %>
              </p>
            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow not-right-column text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-shopping-cart"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour"><%= t :build_a %></p>
              <h4>
                <%= t "store" %>
              </h4>

              <p>
                <%= t "store_intro" %>
              </p>

            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
                    
        <div class="col-sm-3 col-md-3">
          <div class="funny-boxes float-shadow text-center">
            <span class="funny-boxes-icon">
              <i class="fa fa-mobile"></i>
            </span>

            <div class="funny-boxes-text animated flipInY delayp1" style="opacity: 1;">
              <p class="behaviour"><%= t :build_a %></p>
              <h4>
                <%= t "mobi-app" %>
              </h4>

              <p>
                <%= t "apps_intro" %>
              </p>
            </div>
            <!-- //.funny-boxes-text -->
          </div>
          <!-- //.funny-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>