<section id="our-process" class="section section-bgimage-yes">
  <div class="section-inner">
    <div class="section-overlay"></div>
            
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="main-title"><%= t "our_process" %></h2>

            <h3 class="sub-title"><%= t "process_subtitle" %></h3>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->
      <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-3 col-md-3">
          <div class="content-boxes style-two top-column clearfix animated flipInY delayp1" style="opacity: 1;">
            <span class="content-boxes-icon">
              <i class="fa fa-clipboard"></i> 
            </span>
                            
            <div class="content-boxes-text">
              <h4><%= t "plan" %></h4>
                                
              <ul>
                <li><%= t "client_interview" %></li>
                <li><%= t "gather_consumer_data" %></li>
                <li><%= t "create_content_strategy" %></li>
                <li><%= t "analyze_research" %></li>
              </ul>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="content-boxes style-two top-column clearfix animated flipInY delayp1" style="opacity: 1;">
            <span class="content-boxes-icon">
              <i class="fa fa-keyboard-o"></i> 
            </span>
                            
            <div class="content-boxes-text">
              <h4>
                <%= t "create" %>
              </h4>
                                
              <ul>
                <li><%= t "build_wireframe" %></li>
                <li><%= t "gather_client_feedback" %></li>
                <li><%= t "code_development" %></li>
                <li><%= t "testing" %></li>
                <li><%= t "customer_feedback" %></li>
              </ul>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-3 col-md-3">
          <div class="content-boxes style-two top-column clearfix animated flipInY delayp1" style="opacity: 1;">
            <span class="content-boxes-icon">
              <i class="fa fa-rocket"></i> 
            </span>
                            
            <div class="content-boxes-text">
              <h4>
                <%= t "launch" %>
              </h4>
                                
              <ul>
                <li><%= t "deploy_website_or_Apps" %></li>
                <li><%= t "market_product_launch" %></li>
                <li><%= t "preformance_tracking" %></li>
                <li><%= t "websites_seo" %></li>
              </ul>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
        <div class="col-sm-2 col-md-2"></div>
      </div>                    
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>