
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->    
    
<!-- Begin Page Loader -->
<div id="page-loader">
  <div class="preload">
    <% image_tag "preloader.gif", alt: "Loading" %>
  </div>
  <!-- //.preload -->
</div>
<!-- //End Page Loader -->

<%= render partial: "introduction" %>
<%= render partial: "layouts/nav" %>
<%= render partial: "about" %>
<%= render partial: "processes" %>
<%= render partial: "meat_team" %>
<%= render partial: "contact_us" %>
    
<script type="text/javascript">
$(function(){
  $(window).load(function(){
    var ua = navigator.userAgent.toLowerCase(),
    isAndroid = ua.indexOf("android") > -1;
                
    if (jQuery.browser.mobile === false && !isAndroid){
      // This is for Parallax using Skrollr
      var s = skrollr.init({
        forceHeight: false
      });

      // Refresh Skrollr after resizing our sections
      s.refresh($('.parallax'));
    }
  });
});
</script>
    